.mvInfoImg {
  position: relative;
  width: 100%;
  aspect-ratio: 2/3;
  overflow: hidden;
  border-radius: $px * 5;
  img {
    width: 100%;
    height: 100%;
  }
  .countBadge {
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Pretendard-Medium', sans-serif;
    color: var(--sub-color);
    background-color: var(--main-color);
    padding: $px * 12 $px * 10 $px * 10;
    border-radius: 0 0 0 $px * 5;
    &.no {
      background-color: $black;
    }
  }
  .age {
    position: absolute;
    top: 4%;
    left: 5%;
  }
}
