.recommendList {
  width: 100%;
  display: flex;
  gap: $px * 8;

  .topNum {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $px * 18;
    height: $px * 18;
    background-color: var(--main-color);
    color: var(--sub-color);
    font-weight: 700;
    font-size: $px * 12;
    border-radius: 50%;
  }
  .moviePoster {
    width: 10%;
  }
  .titles {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .mvInfoKrTit {
      font-size: $px * 16;
      color: var(--text-color);
    }
    .mvInfoOgTit {
      font-size: $px * 14;
      color: var(--text-detail);
    }
  }
}
