.recommendList {
  width: 100%;
  display: flex;
  gap: $px * 8;
  .topNum {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $px * 18;
    height: $px * 18;
    background-color: var(--main-color);
    color: var(--sub-color);
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: $font-caption-mobile;
    border-radius: 50%;
  }
  .moviePoster {
    width: 10%;
  }
  .titles {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .mvInfoKrTit {
      font-size: $font-tit-mobile;
      color: var(--text-color);
    }
    .mvInfoOgTit {
      font-size: $font-base-mobile;
      color: var(--text-detail);
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .recommendList {
    .topNum {
      font-size: $font-caption-tablet;
    }
    .titles {
      .mvInfoKrTit {
        font-size: $font-tit-tablet;
      }
      .mvInfoOgTit {
        font-size: $font-base-tablet;
      }
    }
  }
}

@media (min-width: 1024px) {
  .recommendList {
    .topNum {
      font-size: $font-caption-pc;
    }
    .titles {
      .mvInfoKrTit {
        font-size: $font-tit-pc;
      }
      .mvInfoOgTit {
        font-size: $font-base-pc;
      }
    }
  }
}
