.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  border: $px * 1 solid $white;
  padding: $px * 5;
  border-radius: $px * 5;
  white-space: nowrap;
  font-size: $font-caption-mobile;
  &.brandSolid {
    border: $px solid var(--main-color);
    border-radius: $px * 5;
    white-space: nowrap;
    color: var(--text-softBold);
  }
  &.brand {
    background-color: var(--main-color);
    border: none;
    color: $white;
  }
  &.sub {
    background-color: var(--sub-color);
    border: $px * 1 solid var(--main-color);
    color: var(--main-color);
  }
  &.STOPPED {
    background-color: $stopWatch;
    color: $white;
    border: none;
    font-size: $font-tit-mobile;
  }
  &.REWATCHED {
    background-color: $reWatch;
    color: $white;
    border: none;
    font-size: $font-tit-mobile;
  }
  &.FINISHED {
    background-color: $allWatch;
    color: $white;
    border: none;
    font-size: $font-tit-mobile;
  }
  &.age {
    width: $px * 23;
    height: $px * 23;
    color: $white;
    &.ageAll {
      background-color: #22c55e;
      border: $px solid #22c55e;
    }

    &.age12 {
      background-color: #facc15;
      border: $px solid #facc15;
    }

    &.age15 {
      background-color: #f97316;
      border: $px solid #f97316;
    }

    &.age19 {
      background-color: #dc2626;
      border: $px solid #dc2626;
    }
  }
}

@media (min-width: 768px) {
  .badge {
    font-size: $font-caption-tablet;
    &.age {
      width: $px * 25;
      height: $px * 25;
    }
  }
}
@media (min-width: 1024px) {
  .badge {
    font-size: $font-caption-pc;
  }
}
