.FormControl {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $px * 8;
  justify-content: center;
  align-items: flex-start;
  label {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: calc($px * 8);
    font-weight: 500;
    font-size: $px * 16;
  }
  .limit {
    font-size: $px * 12;
    color: var(--text-detail);
  }
  .inputBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $px * 5;
  }
}
