.FormControl {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $px * 12;
  justify-content: center;
  align-items: flex-start;
  padding: 0 $pagePadding;
  &:nth-child(6) {
    padding: 0;
    label {
      padding: 0 $pagePadding;
    }
  }
  label {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $px * 8;
    font-size: $font-tit-mobile;
    font-family: 'Pretendard-Medium', sans-serif;
  }
  .limit {
    font-size: $font-caption-mobile;
    color: var(--text-detail);
  }
  .inputBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $px * 8;
  }
}

@media (min-width: 768px) {
  .FormControl {
    padding: 0 $px * 30;
    label {
      font-size: $font-tit-tablet;
    }
    .limit {
      font-size: $font-caption-tablet;
    }
    &:nth-child(6) {
      padding: 0;
      label {
        padding: 0 $px * 30;
      }
    }
  }
}

@media (min-width: 1024px) {
  .FormControl {
    label {
      font-size: $font-tit-pc;
    }
    .limit {
      font-size: $font-caption-pc;
    }
  }
}
