.FormControl {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc($px * 5);
  justify-content: center;
  align-items: flex-start;
  label {
    width: 100%;
    display: flex;
    gap: calc($px * 3);
    font-weight: 500;
    font-size: $px * 16;
  }
  .inputBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $px * 5;
  }
}
