.Order {
  position: relative;
  .forms {
    display: flex;
    flex-direction: column;
    gap: $px * 10;
    margin-top: $pagePadding;
    .paymentMethod {
      display: flex;
      flex-direction: row;
      gap: $px * 5;
      flex-wrap: wrap;
    }
  }
  .productPrice {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
