.MainPage {
  width: 100%;
  background-color: var(--bg-color);
  padding-top: $headerHeight;
  .searchBox {
    max-width: calc($px * 1280);
    padding: calc($px * 5) $pagePadding;
    left: 50%;
    transform: translateX(-50%);

    svg {
      cursor: pointer;
    }
    .searchInput {
      width: 100%;
      border: $px solid var(--divider);
      outline: none;
      border-radius: calc($px * 5);
      padding: $px * 10 $px * 15;
      font-size: calc($px * 14);
      margin-bottom: 1rem 0;
      cursor: pointer;
      background-color: var(--bg-div-color);
      color: var(--text-color);
      &::placeholder {
        color: var(--text-detail);
      }
    }
  }
  .recordList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $px * 8;
    padding: $pagePadding;
    .image {
      width: 100%;
      aspect-ratio: 3/4;
      object-fit: cover;
      overflow: hidden;
      border-radius: $px * 5;
      img {
        width: 100%;
      }
    }
  }
  // .spinner {
  //   margin: 0 auto;
  //   padding: calc($px * 48);
  // }
}
