.MainPage {
  width: 100%;
  max-width: $max-width;
  background-color: var(--bg-color);
  padding-top: $headerHeight;
  .searchBox {
    max-width: calc($px * 1280);
    padding: calc($px * 5) $pagePadding;
    left: 50%;
    transform: translateX(-50%);

    svg {
      cursor: pointer;
    }
    .searchInput {
      width: 100%;
      border: $px solid var(--divider);
      outline: none;
      border-radius: calc($px * 5);
      padding: $px * 10 $px * 15;
      font-size: calc($px * 14);
      margin-bottom: 1rem 0;
      cursor: pointer;
      background-color: var(--bg-div-color);
      color: var(--text-color);
      &::placeholder {
        color: var(--text-detail);
      }
    }
  }
  .recordTit {
    margin: $pagePadding $pagePadding 0;
    font-size: $px * 28;
  }
  .recordList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $px * 8;
    padding: $pagePadding;
    .test {
      width: 100%;
      min-width: 0;
    }
  }
  // .spinner {
  //   margin: 0 auto;
  //   padding: calc($px * 48);
  // }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .MainPage .recordList {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1024px) {
  .MainPage .recordList {
    grid-template-columns: repeat(6, 1fr);
  }
}
