.MainPage {
  width: 100%;
  background-color: $background;
  .searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc($px * 10);
    padding: calc($px * 5) $pagePadding;
    svg {
      cursor: pointer;
    }
    .searchInput {
      width: 100%;
      border: $px solid $divider;
      outline: none;
      border-radius: calc($px * 5);
      padding: $px * 10 $px * 15;
      font-size: calc($px * 14);
      margin-bottom: 1rem 0;
      cursor: pointer;
    }
  }
  .recordList {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $px * 8;
    padding: $pagePadding;
    .image {
      width: 100%;
      aspect-ratio: 3/4;
      object-fit: cover;
      overflow: hidden;
      border-radius: $px * 5;
      img {
        width: 100%;
      }
    }
  }
  // .spinner {
  //   margin: 0 auto;
  //   padding: calc($px * 48);
  // }
}
