.List {
  width: 100%;
  max-width: $max-width;
  margin-bottom: $pagePadding;
  .listHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $pagePadding $pagePadding $px * 8;
    .listTit {
      font-size: $font-tit-tablet;
      font-family: 'Pretendard-SemiBold', sans-serif;
      color: var(--text-softBold);
    }

    .allDel {
      background-color: transparent;
      border: none;
      font-size: $font-caption-mobile;
      color: var(--text-detail);
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) {
  .List {
    margin-bottom: $pagePadding * 2;
    .listHeader {
      padding: 0 0 $px * 8 0;
      .listTit {
        font-size: $font-tit-tablet;
      }
    }
  }
}
@media (min-width: 1024px) {
  .List {
    .listHeader {
      .listTit {
        font-size: $font-tit-pc;
      }
      .allDel {
        font-size: $font-caption-pc;
      }
    }
  }
}
