.List {
  width: 100%;
  margin-bottom: $px * 15;
  .listHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $pagePadding $pagePadding $px * 10;
    .listTit {
      font-size: $px * 18;
      font-weight: 500;
    }
    .allDel {
      background-color: transparent;
      border: none;
      font-size: $px * 14;
      cursor: pointer;
    }
  }
}
