.swiper {
  padding: 0 $pagePadding;
  overflow: hidden;
  .swiper-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .swiper-slide {
      padding: $px * 4 $px * 9;
      border: $px solid $btnLine;
      background-color: $btnBack;
      border-radius: $px * 50;
      font-size: $px * 12;
      color: $softBold;
      .listItem {
        width: 100%;
        display: flex;
        gap: $px * 5;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        cursor: pointer;
        .delBtn {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 0;
          color: $detail;
          font-size: $px * 12;
          margin-bottom: $px * 5;
        }
      }
    }
  }
}
