.slideBox {
  width: 100%;
  padding: $pagePadding 0;
  display: flex;
  flex-direction: column;
  gap: $px * 10;
  .slideBoxHead {
    display: flex;
    justify-content: space-between;
    padding: 0 $pagePadding;
    .contentTit {
      width: 100%;
      font-size: $font-tit-mobile;
      font-weight: 700;
    }
    .fullList {
      width: $font-tit-mobile;
      height: $font-tit-mobile;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      svg {
        width: 100%;
        height: 100%;
        color: var(--text-color);
      }
    }
  }
}

@media (min-width: 768px) {
  .slideBox {
    padding: $pagePadding;
    .slideBoxHead {
      padding: 0;
      .contentTit {
        font-size: $font-tit-tablet;
      }
      .fullList {
        width: $font-tit-tablet;
        height: $font-tit-tablet;
      }
    }
  }
}
@media (min-width: 1024px) {
  .slideBox .slideBoxHead {
    .contentTit {
      font-size: $font-tit-pc;
    }
    .fullList {
      width: $font-tit-pc;
      height: $font-tit-pc;
    }
  }
}
