.slideBox {
  width: 100%;
  padding: $pagePadding 0;
  display: flex;
  flex-direction: column;
  gap: $px * 10;
  .slideBoxHead {
    display: flex;
    justify-content: space-between;
    padding: 0 $pagePadding;
    .contentTit {
      width: 100%;
      font-size: $font-tit-mobile;
      font-weight: 700;
      strong {
        color: $stopWatch;
      }
    }
  }
}

@media (min-width: 768px) {
  .slideBox {
    padding: $pagePadding;
    .slideBoxHead {
      padding: 0;
      .contentTit {
        font-size: $font-tit-tablet;
      }
    }
  }
}
@media (min-width: 1024px) {
  .slideBox {
    .contentTit {
      font-size: $font-tit-pc;
    }
  }
}
