.swiper {
  padding: 0 $pagePadding;
  overflow: hidden;
  .swiper-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .swiper-slide {
      padding: $px * 4 $px * 9;
      border: $px solid var(--btn-line);
      background-color: var(--btn-back);
      border-radius: $px * 50;
      color: var(--text-softBold);
      .listItem {
        width: 100%;
        display: flex;
        gap: $px * 5;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        font-size: $font-caption-mobile;
        cursor: pointer;
        .delBtn {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 0;
          color: var(--text-detail);
          font-size: $font-caption-mobile;
          margin-bottom: $px * 5;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .swiper .swiper-wrapper .swiper-slide {
    .listItem {
      font-size: $font-caption-tablet;
    }
    .delBtn {
      font-size: $font-caption-tablet;
    }
  }
}

@media (min-width: 1024px) {
  .swiper .swiper-wrapper .swiper-slide {
    .listItem {
      font-size: $font-caption-pc;
    }
    .delBtn {
      font-size: $font-caption-pc;
    }
  }
}
