.mvInfoKrTit {
  width: 100%;
  font-size: $font-tit-mobile;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mvInfoOgTit {
  width: 100%;
  color: var(--text-detail);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $font-base-mobile;
}
.mvInfoOverview {
  font-size: $font-base-mobile;
  line-height: 150%;
}
.mvInfoGenre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.313rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .mvInfoKrTit {
    font-size: $font-tit-tablet;
  }
  .mvInfoOgTit,
  .mvInfoOverview {
    font-size: $font-base-tablet;
  }
}

@media (min-width: 1024px) {
  .mvInfoKrTit {
    font-size: $font-tit-pc;
  }
  .mvInfoOgTit,
  .mvInfoOverview {
    font-size: $font-base-pc;
  }
}
