.mvInfoKrTit {
  width: 100%;
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $black;
}
.mvInfoOgTit {
  width: 100%;
  color: $detail;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mvInfoOverview {
  font-size: $px * 14;
  color: $black;
  line-height: 150%;
}
.mvInfoGenre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.313rem;
  .genre {
    border: 0.063rem solid $main_color;
    padding: 0.313rem 0.5rem;
    border-radius: $px * 5;
    font-size: 0.75rem;
    white-space: nowrap;
    color: $softBold;
  }
}
