.ErrorPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $pagePadding;
  article {
    h1 {
      font-size: $px * 32;
      margin-bottom: $px * 16;
      color: $stopWatch;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 150%;
  }
}
