//#Color
//BrandColor ㅇ
$main_color: #5db996;
$sub_color: #ebf6e9;

//size
$px: calc(1rem / 16);
$pagePadding: $px * 16;
$headerHeight: $px * 55;
$footerHeight: $px * 80;
$tabHeight: $px * 80;
$max-width: $px * 1280;
//font-size
$font-caption-mobile: $px * 12;
$font-caption-tablet: $px * 13;
$font-caption-pc: $px * 14;

$font-base-mobile: $px * 14;
$font-base-tablet: $px * 15;
$font-base-pc: $px * 16;

$font-tit-mobile: $px * 15;
$font-tit-tablet: $px * 16;
$font-tit-pc: $px * 18;

$font-headline-mobile: $px * 28;
$font-headline-tablet: $px * 30;
$font-headline-pc: $px * 32;

//color
$black: #222;
$white: #fafaf8;
$gray: #adb5bd;
$allWatch: #81c784;
$reWatch: #64b5f6;
$stopWatch: #e57373;
//Dark Mode
:root {
  //main
  --main-color: #5db996;
  --sub-color: #ebf6e9;
  //bg
  --baseBg-color: #f1f3f5;
  --bg-div-color: #f9f9f9;
  --bg-rgbColor: 248, 249, 250;
  --bg-color: rgb(var(--bg-rgbColor));

  --divider: #dee2e6;
  //text
  --text-color: #222;
  --text-disable: #adb5bd;
  --text-detail: #868e96;
  --text-softBold: #343a40;
  --text-white: #fafaf8;
  //button
  --btn-back: #f7f7f7;
  --btn-line: #ced4da;
}

@media (prefers-color-scheme: dark) {
  :root {
    //main
    --main-color: #5db996;
    --sub-color: #3a4d45;
    //bg
    --baseBg-color: #1e1e1e;
    --bg-div-color: #323232;
    --bg-rgbColor: 42, 42, 42;
    --bg-color: rgb(var(--bg-rgbColor));
    --divider: #3c3c3c;
    //text
    --text-color: #e0e0e0;
    --text-softBold: #f0f0f0;
    --text-disable: #666666;
    --text-detail: #999999;
    --text-white: #222;
    //button
    --btn-back: #323232;
    --btn-line: #404040;
  }
}
