//#Color
//BrandColor ㅇ
$main_color: #5db996;
$sub_color: #ebf6e9;

//size
$px: calc(1rem / 16);
$pagePadding: $px * 16;
$headerHeight: $px * 55;
$footerHeight: $px * 80;
$max-width: $px * 1280;
//font-size
$font-caption-mobile: 12px;
$font-caption-tablet: 13px;
$font-caption-pc: 14px;

$font-base-mobile: 14px;
$font-base-tablet: 15px;
$font-base-pc: 16px;

$font-tit-mobile: 15px;
$font-tit-tablet: 16px;
$font-tit-pc: 18px;

//color
$black: #222;
$white: #fafaf8;
$allWatch: rgba(#4caf50, 0.7);
$reWatch: rgba(#2196f3, 0.7);
$stopWatch: rgba(#f44336, 0.7);
//Dark Mode
:root {
  //main
  --main-color: #5db996;
  --sub-color: #ebf6e9;
  //bg
  --baseBg-color: #f1f3f5;
  --bg-div-color: #f1f3f5;
  --bg-color: #f8f9fa;

  //line
  --divider: #dee2e6;
  //text
  --text-color: #222;
  --text-disable: #adb5bd;
  --text-detail: #868e96;
  --text-softBold: #343a40;
  --text-white: #fafaf8;
  //button
  --btn-back: #f5f5f5;
  --btn-line: #ced4da;
}

@media (prefers-color-scheme: dark) {
  :root {
    //main
    --main-color: #5db996;
    --sub-color: #3a4d45;
    //bg
    --baseBg-color: #1e1e1e;
    --bg-div-color: #323232;
    --bg-color: #2a2a2a;

    //line
    --divider: #3c3c3c;
    //text
    --text-color: #e0e0e0;
    --text-softBold: #f0f0f0;
    --text-disable: #666666;
    --text-detail: #999999;
    --text-white: #222;
    //button
    --btn-back: #2f2f2f;
    --btn-line: #4b4b4b;
  }
}
