.AccordionList {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: $px * 20 solid #e1e1e1;
  &:last-child {
    border: none;
  }
  .AccordionTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $pagePadding;
    .rightBtn {
      width: 60%;
      display: flex;
      p {
        width: 80%;
        width: 100%;
        display: flex;
        // .titEllipsis {
        //   width: 100%;
        //   white-space: nowrap;
        //   overflow: hidden;
        //   text-overflow: ellipsis;
        //   text-align: end;
        // }
        // .nonEllipsis {
        //   width: 20%;
        // }
      }
      button {
        // width: 20%;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }

  .products {
    display: none;
    padding: 0 $pagePadding $px * 15;
    &.open {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: $px * 12;
    }
  }
}
