.reviewData {
  display: flex;
  flex-direction: column;
  gap: $px * 16;
  .reviewBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: $px * 16;
    border-radius: $px * 5;
    border: $px solid var(--divider);
    padding: $pagePadding;
    .head {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .reviewBtn {
        background-color: transparent;
        border: none;
        color: var(--text-detail);
        text-decoration: underline;
      }
    }
    .viewSection {
      display: flex;
      gap: $px * 5;
      color: var(--text-softBold);
      &.viewMeta {
        span {
          &:first-child {
            &::after {
              content: '|';
              margin-left: $px * 5;
              color: var(--text-detail);
            }
          }
          &:last-child {
            display: flex;
            gap: $px * 5;
            p {
              &::after {
                content: ',';
                margin-left: $px * 3;
                color: var(--text-disable);
              }
              &:last-child {
                &::after {
                  content: '';
                }
              }
            }
          }
        }
      }
    }
    .selection {
      display: flex;
      gap: $px * 8;
      flex-wrap: wrap;
    }
    .watchComment {
      width: 100%;
      height: $px * 100;
      border: $px solid var(--divider);
      background-color: var(--bg-div-color);
      color: var(--text-color);
      padding: $pagePadding;
      border-radius: $px * 5;
    }
  }
}
