.mvCard {
  width: 100%;
  .mvInfo {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: $px * 10;
    border-bottom: 0.063rem solid $gray;
    padding: calc($px * 15);
    .mvInfoImg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      min-width: $px * 103;
      aspect-ratio: 3/4;
      border-radius: 0.313rem;
      overflow: hidden;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .noImage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.188rem;
      }
    }
    .mvInfoTit {
      width: 60%;
      min-width: calc(55% - $px * 103);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;
      padding: 0.313rem 0;
      .mvInfoKrTit {
        width: 100%;
        font-size: 1.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .mvInfoOgTit {
        width: 100%;
        color: $dark_gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .mvInfoGenre {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.313rem;
        .genre {
          border: 0.063rem solid $main_color;
          padding: 0.313rem 0.5rem;
          border-radius: 1rem;
          font-size: 0.75rem;
          white-space: nowrap;
        }
      }
    }
    .movieBtn {
      width: 10%;
    }
  }
}
