.mvCard {
  width: 100%;
  max-width: $max-width;

  .mvInfo {
    width: 100%;
    display: flex;
    gap: $px * 10;
    border-bottom: 0.063rem solid var(--divider);
    padding: calc($px * 15);
    min-width: 0;

    .imgBox {
      width: 30%;
      overflow: hidden;
    }

    .mvInfoTit {
      width: 100%;
      min-width: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: $px * 8;
      padding: 0.313rem 0;
      .infoList {
        display: flex;
        justify-content: center;
        gap: $px * 5;
      }
    }
  }
}

@media (min-width: 768px) {
  .mvCard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 0;
    gap: $px * 10;
    .mvInfo {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-width: 0;
      border-bottom: none;
      padding: calc($px * 8);
      .imgBox {
        width: 100%;
      }
    }

    .mvInfoTit {
      width: 100%;
      min-width: 0;
    }
  }
}

@media (min-width: 1024px) {
  .mvCard {
    grid-template-columns: repeat(5, 1fr);
  }
}
