.pageTit {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.25rem;
  font-weight: 500;
  border-bottom: 0.063rem solid $gray;
  text-align: center;
  background-color: $white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .title {
    flex: 1;
    text-align: center;
  }
  .headerBtn {
    width: calc($px * 50);
    padding: 0 calc($px * 15);
    text-align: center;
    cursor: pointer;
    &.hidden {
      visibility: hidden;
    }
  }
}
