.DetailPage {
  width: 100%;
  position: relative;
  overflow: hidden;
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: $px * 5;

    .posterWrapper {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          #0000 0%,
          #0000004d 32.47%,
          #0009 67.36% 67.36%,
          #000c 100%
        );
      }
    }
    .titleBox {
      width: 100%;
      max-width: $max-width;
      position: absolute;
      bottom: $footerHeight;
      left: 50%;
      transform: translateX(-50%);
      color: $white;
      padding: $px * 50 $pagePadding $px * 10;
      .badge {
        color: $white;
      }
    }
  }
}
