.DetailPage {
  position: relative;
  overflow: hidden;

  .container {
    position: relative;
    width: 100%;
    // height: calc(100% - $headerHeight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: $px * 5;
    // padding: $pagePadding;
    .movieVideo {
      width: 100%;
      iframe {
        width: 100%;
        aspect-ratio: 16/9;
      }
      .posterWrapper {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .posterBackground {
          width: 100%;
          height: 100%;
          z-index: 0;
          object-fit: cover;
        }
      }
    }
    .titleBox {
      width: 100%;
      position: absolute;
      bottom: $footerHeight;
      left: 0;
      background: linear-gradient(
        rgba($black, 0) 0%,
        rgba($black, 0.1) 5%,
        rgba($black, 0.2) 10%,
        rgba($black, 0.3) 15%,
        rgba($black, 0.4) 20%,
        rgba($black, 0.5) 40%,
        rgba($black, 0.7) 70%,
        rgba($black, 1) 100%
      );
      color: $white;
      .banner {
        color: $white;
      }
    }
  }
}
