.DetailPage {
  header {
    svg {
      padding: 0 $pagePadding;
    }
    span {
      margin-top: $px * 4;
    }
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: $px * 5;
    padding: $pagePadding;
    .moviePoster {
      width: 100%;
      img {
        width: 100%;
        border-radius: $px * 5;
      }
      iframe {
        width: 100%;
        aspect-ratio: 16/9;
      }
    }
    .movieInfo {
      display: flex;
      flex-direction: column;
      gap: $px * 10;
      .movieMeta {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: $px * 5;
        font-size: $px * 14;
        color: $softBold;
        .element {
          border: $px * 1 solid $btnLine;
          padding: 0.313rem 0.5rem;
          border-radius: $px * 5;
        }
      }
      .movieDescription {
        display: flex;
        flex-direction: column;
        gap: $px * 5;
      }
    }
  }
}
