.Page {
  width: 100%;
  height: 100%; //고정
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $headerHeight;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-bottom: $px * 1 solid var(--divider);
    z-index: 100;
  }
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    flex: 1;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: $pagePadding;

    // background-color: var(--bg-color);
    // background-color: #000c;
    color: var(--text-color);
  }
}
