.Review {
  .container {
    display: flex;
    flex-direction: column;
    padding: $pagePadding;
    .moviePoster {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $px * 16;
      margin-bottom: $px * 30;
      img {
        width: 100%;
        border-radius: $px * 5;
      }
    }
    .divider {
      border: 1px solid $divider;
    }
    .reviewData {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: $px * 16;
      padding: $pagePadding 0;
    }
    .selection {
      display: flex;
      gap: $px * 8;
    }
    .watchComment {
      width: 100%;
      height: $px * 100;
      border: $px solid $divider;
      background-color: $backgroundDiv;
      padding: $pagePadding;
    }
  }
}
