.Review {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: $headerHeight;
  overflow: hidden;
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .moviePoster {
      width: 18%;
      min-width: $px * 200;
      aspect-ratio: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $px * 15;
      margin-bottom: $px * 20;
      padding: $pagePadding;
      img {
        width: 100%;
        border-radius: $px * 5;
      }
    }
    .tabContainer {
      width: 100%;
      .tabContent {
        width: 100%;
        padding: $pagePadding;
        max-width: $max-width;

        .infoTab {
          position: relative;
          .runtime .badge {
            border: $px solid $gray;
          }
          .btnBox {
            display: flex;
            justify-content: flex-end;
            margin-top: $px * 16;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .Review {
    height: 100vh;
    overflow: hidden;
    .container {
      max-width: $px * 1280;
      flex-direction: row;
      align-items: flex-start;
      overflow: hidden;
      .moviePoster {
        width: 30%;
        flex-shrink: 0;
        justify-content: flex-start;
        padding-top: $px * 50;
        img {
          width: 100%;
          height: auto;
        }
      }
      .tabContainer {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .tabs {
          flex-shrink: 0;
        }
        .tabContent {
          overflow: scroll;
          flex-shrink: 1;
          overflow: hidden auto;
          padding-bottom: $pagePadding;
        }
      }
    }
  }
}
