.Review {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    .moviePoster {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $px * 16;
      margin-bottom: $px * 20;
      padding: $pagePadding;
      img {
        border-radius: $px * 5;
      }
    }
    .tabContent {
      width: 100%;
      padding: $pagePadding;
    }
  }
}
