.shoppingList {
  width: 100%;
  .price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $pagePadding;
    .totalPrice {
      &::after {
        content: '원';
      }
    }
  }
}
