.noSearchKeyword {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $pagePadding 0;
}

.delBtn {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
