@import '../src/styles/index.scss';
body {
  width: 100%;
  height: 100%;
  background-color: $sub_color;
}
.App {
  min-width: 22.5rem;
  max-width: 48rem;
  flex-direction: column;
  background-color: $background;
  margin: 0 auto;
}
