@import '../src/styles/index.scss';
body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Pretendard-Regular', sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $px * 375;
  // max-width: $px * 1280;
  flex-direction: column;
  background-color: var(--bg-color);
  margin: 0 auto;
}
