.bannerSwipe {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 $pagePadding;
  .swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    .swiper-slide {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: $px * 10;
      cursor: pointer;
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.7);
        border-radius: $px * 10;
      }
      &.swiper-slide-active {
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          width: 100%;
          height: 100%;
          background: linear-gradient(
            to right,
            rgba($black, 0.8) 0%,
            rgba($black, 0.4) 50%,
            rgba($black, 0) 100%
          );
          border-radius: $px * 10;
        }
        .bannerBadge {
          position: absolute;
          top: $pagePadding;
          left: $pagePadding;
          z-index: 1;
        }
      }
      .air {
        width: inherit;
        height: inherit;
        object-fit: cover;
        border-radius: $px * 10;
        overflow: hidden;
      }
      .bannerBadge {
        position: absolute;
        top: $pagePadding;
        left: $pagePadding;
        z-index: -1;
      }
      .bannerItemTit {
        position: absolute;
        bottom: $pagePadding;
        left: $pagePadding;
        color: $white;
        z-index: 1;
        .mvInfoKrTit {
          font-size: $font-headline-mobile;
        }
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: $pagePadding * 3;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    background-color: rgba($black, 0);
    &::after {
      content: '';
      display: block;
      width: $px * 7;
      height: $px * 7;
      border-top: $px solid $white;
      border-right: $px solid $white;
      position: absolute;
      top: 50%;
    }
  }
  .swiper-button-prev {
    left: $px * -1;
    &::after {
      transform: rotate(225deg);
      right: 10%;
    }
  }

  .swiper-button-next {
    right: $px * -1;
    &::after {
      transform: rotate(45deg);
      left: 10%;
    }
  }
}

@media (min-width: 768px) {
  .bannerSwipe {
    height: $px * 400;
    max-width: $px * 1280;
    .swiper-wrapper {
      height: inherit;

      .swiper-slide {
        height: inherit;
        .air {
          height: inherit;
        }
        .bannerItemTit {
          .mvInfoKrTit {
            font-size: $font-headline-tablet;
          }
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        content: '';
        width: $px * 10;
        height: $px * 10;
      }
    }
  }
}
@media (min-width: 1024px) {
  .bannerSwipe {
    height: $px * 500;
    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        content: '';
        width: $px * 15;
        height: $px * 15;
      }
    }
  }
}
