.slideSwiper {
  width: 100%;
  overflow: hidden;
  padding: $pagePadding;
  &.box {
    background-color: var(--bg-div-color);
    padding: $pagePadding;
    border-radius: $px * 10;
  }
  .swiper-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .swiper-slide {
      .listItem {
        border: $px solid var(--btn-line);
        border-radius: $px * 50;
        padding: $px * 4 $px * 9;
        color: var(--text-softBold);
        background-color: var(--btn-back);
        width: 100%;
        display: flex;
        gap: $px * 5;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        font-size: $font-caption-mobile;
        cursor: pointer;
        .delBtn {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 0;
          color: var(--text-detail);
          font-size: $font-caption-mobile;
          margin-bottom: $px * 5;
        }
      }
      .listPoster {
        display: flex;
        flex-direction: column;
        gap: $px * 8;
        width: $px * 125;
        .posterTit {
          display: flex;
          flex-direction: column;
          gap: $px * 3;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .slideSwiper {
    padding: 0;
    .swiper-wrapper {
      .swiper-slide {
        .listItem {
          font-size: $font-caption-tablet;
        }
        .delBtn {
          font-size: $font-caption-tablet;
        }
        .listPoster {
          width: $px * 160;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .swiper .swiper-wrapper .swiper-slide {
    .listItem {
      font-size: $font-caption-pc;
    }
    .delBtn {
      font-size: $font-caption-pc;
    }
    .listPoster {
      width: $px * 180;
    }
  }
}
