.RecordFilter {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba($black, 0.5);
  &.hide {
    display: none;
    .filterList {
      transform: translateY(-200%);
    }
  }
  .filterList {
    position: inherit;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    border-radius: $px * 10 $px * 10 0 0;
    background-color: $background;
    padding: $pagePadding;
    transform: translateY(0%);
    overflow: scroll;

    header {
      width: 100%;
      margin-bottom: $px * 16;
      cursor: pointer;
      div {
        width: $px * 50;
        border: $px * 3 solid $divider;
        margin: 0 auto;
        border-radius: $px * 5;
      }
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: $px * 30;
      input[type='radio'],
      input[type='checkbox'] {
        display: none;
      }
      textarea {
        width: 100%;
        height: $px * 100;
        border: $px solid $divider;
        outline: none;
        resize: none;
        padding: $px * 16;
      }
      .dateContent {
        width: 100%;
        display: flex;
        gap: $px * 3;
        .dates {
          input[type='date'] {
            border: $px solid $btnLine;
            color: $softBold;
          }
          .subLabel {
            font-size: $px * 14;
            margin-bottom: $px * 3;
          }
        }
      }
    }
  }
}
