.filterOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  &.hide {
    display: none;
  }
}
.RecordFilter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - $headerHeight);
  transform: translateY(0%);
  transition: transform 0.3s ease;
  z-index: 101;
  &.hide {
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  .filterList {
    width: 100%;
    height: 100%;
    position: inherit;
    top: 0;
    background-color: var(--bg-color);
    padding: $pagePadding 0;
    overflow: scroll;
    z-index: 101;
    &::-webkit-scrollbar {
      display: none;
    }
    .close {
      display: none;
    }
    form {
      width: 100%;
      max-width: $px * 1280;
      display: flex;
      flex-direction: column;
      gap: $px * 30;
      margin: 0 auto;
      input[type='radio'],
      input[type='checkbox'] {
        display: none;
      }
      textarea {
        width: 100%;
        height: $px * 100;
        outline: none;
        resize: none;
        padding: $px * 16;
        background-color: var(--bg-div-color);
        border: $px solid var(--divider);
        color: var(--text-color);
      }
      .dateContent {
        width: 100%;
        display: flex;
        gap: $px * 8;
        .dates {
          input[type='date'] {
            border: $px solid var(--divider);
            background-color: var(--bg-div-color);
            color: var(--text-detail);
          }
          .subLabel {
            font-size: $font-base-mobile;
            margin-bottom: $px * 3;
          }
        }
      }
      .saveBtn {
        width: 100%;
        padding: 0 $pagePadding;
      }
    }
  }
}
@media (min-width: 768px) {
  .RecordFilter .filterList form .saveBtn {
    padding: 0 $px * 30;
  }
}

@media (min-width: 1024px) {
  .filterOverlay {
    background-color: rgba($black, 0.6);
  }
  .RecordFilter {
    width: $px * 750;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transition: none;
    translate: -50% -50%;
    background-color: var(--baseBg-color);
    border-radius: $px * 5;
    .filterList {
      border-radius: $px * 5;
      padding: $px * 30 0;
      form {
        .dateContent .dates .subLabel {
          font-size: $font-base-pc;
        }
      }
      .close {
        display: block;
        position: fixed;
        top: $px * 20;
        right: $px * 25;
        cursor: pointer;
        color: var(--text-color);
        z-index: inherit;
      }
    }
    &.hide {
      display: none;
      transition: none;
    }
  }
}
