.banner {
  border: $px * 1 solid $white;
  padding: 0.313rem 0.5rem;
  border-radius: $px * 5;
  white-space: nowrap;
  font-size: $font-caption-mobile;
  &.brandSolid {
    border: $px solid var(--main-color);
    padding: 0.313rem 0.5rem;
    border-radius: $px * 5;

    white-space: nowrap;
    color: var(--text-softBold);
  }
  &.brand {
    background-color: var(--main-color);
    border: none;
    color: $white;
  }
  &.sub {
    background-color: var(--sub-color);
    border: $px * 1 solid var(--main-color);
    color: var(--main-color);
  }
  &.STOPPED {
    background-color: $stopWatch;
    color: $white;
    border: none;
    font-size: $font-tit-mobile;
  }
  &.REWATCHED {
    background-color: $reWatch;
    color: $white;
    border: none;
    font-size: $font-tit-mobile;
  }
  &.FINISHED {
    background-color: $allWatch;
    color: $white;
    border: none;
    font-size: $font-tit-mobile;
  }
  &.age {
    background-color: $black;
    color: $white;
    border: $px solid $black;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .banner {
    font-size: $font-caption-tablet;
  }
}
@media (min-width: 1024px) {
  .banner {
    font-size: $font-caption-pc;
  }
}
