.banner {
  border: $px * 1 solid $btnLine;
  padding: 0.313rem 0.5rem;
  border-radius: $px * 5;
  &.brandSolid {
    border: 0.063rem solid $main_color;
    padding: 0.313rem 0.5rem;
    border-radius: $px * 5;
    font-size: 0.75rem;
    white-space: nowrap;
    color: $softBold;
  }

  &.brand {
    background-color: $main_color;
    border: none;
    color: $sub_color;
  }
  &.sub {
    background-color: $sub_color;
    border: $px * 1 solid $main_color;
    color: $main_color;
  }
}
