.tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .tab {
    border-bottom: $px solid $divider;
    width: 50%;
    text-align: center;
    padding: $pagePadding 0;

    &.active {
      border-bottom: $px * 2 solid $main_color;
    }
  }
}
